<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <title>Document</title>
    </head>
<body>
    <button class="flex-1 bg-green-500 text-white py-2 px-4 hover:bg-green-600" 
            hx-get="/read/" 
            hx-target="#discs-container">
        Read
    </button>
    
    <div id="discs-container">
        {{ template "discs-partial" . }}
    </div>
</body>
</html>

{{ define "discs-partial" }}
    {{ if .Discs }}
        {{ range .Discs }}
            <div>{{ .Title }} by {{ .Group }}</div>
        {{ end }}
    {{ else }}
        <div>No discs to display. Click "Read" to load.</div>
    {{ end }}
{{ end }}
